// Application Styles
@import 'lib';

html, body {
	width: 100%;
	height: 100%;
	&:extend(.lato);
	color: @chr;
	background-color: @ppr;
	font-size: @basefontsize;
	font-weight: @basefontweight;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.004);
  cursor: default;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
}

#listing-container {
  display: grid;
  grid-template-columns: 200px 800px 200px;
  grid-gap: @space;

  #listings {
    .listing {
      display: grid;
      grid-template-columns: 23% 50% 23%;
      grid-gap: 2%;
      align-items: center;
      border: 1px solid @chr;
      border-radius: @space-xs;

      .img-container {
        height: 108px;
        overflow: hidden;

        a > img {
          width: 100%;
        }
      }

      .ticket-container {
        .ticket-button {
          padding: @space-m @space-xl;
          .text-center;
          border: 1px solid @gld0;
          border-radius: @space-s;
          transition: @trans-all500;
          cursor: pointer;

          &:hover {
            border-color: @gld1;
          }
        }
      }
    }
  }
}

.section-title {
  .h3;
  .fw-600;
  .open-sans;
}

select {
  width: 100%;
}

.star {
  cursor: pointer;
  transition: @trans-all500;

  polygon {
    fill: #d8d8d8;

    &.favoriteListing {
        fill: @gld2 !important;
      }
  }

  &:hover {
    polygon {
      fill: @gld2 !important;
    } 
  }
}